/* ****************************** */
/* ******** Global Style ******** */
/* ****************************** */
* {
    box-sizing: border-box;
}
@font-face{
    font-family:"Poppins";
    font-display: swap;
    src:url(../fonts/Poppins-Regular.ttf)
}
@font-face{
    font-family:"Poppins-Light";
    font-display: swap;
    src:url(../fonts/Poppins-Light.ttf)
}
@font-face{
    font-family:"Poppins-Bold";
    font-display: swap;
    src:url(../fonts/Poppins-Bold.ttf)
}
b {
    font-family:"Poppins-Bold";
}
body {
    font-family:"Poppins", sans-serif;
    margin: 0;
}
.border-radius-50 {
    border-radius: 55px;
}
.btn-success {
    background-color: #2b4446;
    border-color: #2b4446;
}
.btn-outline-primary {
    border-color: #61a4ac;
}
.btn-secondary {
    background-color: #12746b;
    border-color: #12746b;
}
.btn-outline-primary:hover {
    background-color: #61a4ac;
    border-color: #61a4ac;
}
.btn-primary {
    background-color: #61a4ac;
    border-color: #61a4ac;
}
p {
    font-size: 14px;
    font-family:"Poppins-Light";
}
.font-light {
    font-family:"Poppins-Light";
}
.font-18 {
    font-size: 18px;
}
.font-16 {
    font-16: 16px;
}
.card-white {
    padding: 45px;
    border-radius: 20px;
    outline: none;
}
header .nav-link, 
header a.btn {
    font-size: 14px;
}
header a.btn {
    min-width: 130px;
}
button.navbar-toggler:focus {
    box-shadow: none;
}
button.navbar-toggler::before {
    content: 'MENU';
    font-size: 14px;
    color: #12746b;
}
.navbar-toggler {
    border: none;
    padding-right: 0;
}
.text-primary {
    color: #72c5cd!important;
}
.text-secondary {
    color: #12746b !important;
}
.bg-primary {
    background-color: #72c5cd !important;
}
.bg-secondary {
    background-color: #12746b !important;
}
.float-right {
    float: right;
}
.text-black-50 {
     color: #6a6a6a;
}
@media (min-width: 1920px) {
    .container {
        max-width: 1641px;
    }
}
.input-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}
.input-form input {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 15px;
    border: 1px #979797 solid;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
}
hr.w-plus-40 {
    width: calc(100% + 80px);
    margin: 20px -40px;
}
/* ****************************** */
/* ****** End Global Style ****** */
/* ****************************** */

/* ****************************** */
/* ******** Header Style ******** */
/* ****************************** */
img.logo-header {
    width: 229px;
}
header .nav-link {
    padding: 30px 20px!important;
}
.nav-item .btn.btn-outline-primary {
    margin: 20px;
    color: #000;
}
.nav-item .btn.btn-outline-primary:hover {
    color: #fff;
}
header {
    background: linear-gradient(90deg, rgba(18,116,107,1) 50%, rgba(255,255,255,1) 50%);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 500;
}
a.nav-link.active::after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #12746b;
    bottom: 25px;
    left: 15px;
}
footer .row {
    margin: 0;
}
a.nav-link {
    position: relative;
}
.h-90vh {
    height: 90vh;
}
.h-80vh {
    height: 80vh;
}
.min-h-80vh {
    min-height: 80vh;
}
.min-h-100vh {
    min-height: 100vh;
}
header nav.navbar {
    padding: 0;
}
.navbar-collapse {
    background-color: #fff;
}
img.logo-header {
    width: 130px;
    padding: 5px;
    object-fit: contain;
}
header li.nav-item:first-child {
    margin-left: 15px;
}
/* ****************************** */
/* ****** End Header Style ****** */
/* ****************************** */


