
/* ****************************** */
/* ********* Hero Style ********* */
/* ****************************** */
.hero {
    background-image: url(../img/homepage-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: calc(10vh + 20px);
}
.hero.diabete-type-2 {
    background-image: url(../img/diabetetype2.jpeg);
}
.hero.login {
    background-image: url(../img/bg-login.png);
    background-position: bottom;
}
.hero.methods {
    background-image: url(../img/jum.jpg);
    background-position: bottom;
}

.hero.testimony {
    background-image: url(../img/testimony.png);
}
.hero.tarif {
    background-image: url(../img/tarif-bg.png);
}
.card-presentation {
    background: #8ec0c9cf;
    padding: 40px;
    width: 50%;
    min-width: 300px;
    border: none;
    border-radius: 35px;
}
.contain {
    object-fit: contain;
}
.card-form {
    background: #ffffffcf;
    padding: 40px;
    width: 50%;
    min-width: 300px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 6px #858585;
    max-width: 500px;
}
.hero h1 {
    font-size: 30px;
    max-width: 75%;
    margin: auto;
    margin-bottom: 25px;
}

/* ****************************** */
/* ******* End Hero Style ******* */
/* ****************************** */

/* ****************************** */
/* ******** Abouts Style ******** */
/* ****************************** */
.about-row {
    margin-top: -10vh;
    padding: 45px;
    border-radius: 20px;
}
.about-col {
    background-color: #8ec5cee3;
    padding: 40px 80px;
    border-radius: 15px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
}
.about-col.active {
    background-color: #325355d6;
}
.bg-card-about {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 15px;
}
.view-more {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px #fff solid;
    font-weight: bold;
}
.icon-footer-about {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px #fff solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: -110px;
    background-color: #9acbd3;
}
/* ****************************** */
/* ****** End About Style ******* */
/* ****************************** */

/* ****************************** */
/* ******** Service Style ******* */
/* ****************************** */
.item-service.advice .col-md-7 {
    background-color: #72c5cd;
}
.item-service.advice .col-md-5 {
    background-image: url(../img/medecins.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.item-service.advice .col-md-5.diabete-type-2 {
    background-image: url(../img/fleure.jpeg);
}
.item-service.advice .col-md-5.methods {
    background-image: url(../img/alimentaire.jpg);
}
.item-service.invitation {
    background: linear-gradient(90deg, #12746b 56% , transparent 56% , transparent 48%), url(../img/invitation.webp) no-repeat center right;
    background-size: auto, cover;
}
.item-service.invitation.diabete-type2 {
    background: linear-gradient(90deg, #fff 56% , transparent 56% , transparent 48%), url(../img/pied.jpg) no-repeat bottom right;
    background-size: contain;
}
.item-service.invitation.methods {
    background: linear-gradient(90deg, #fff 56% , transparent 56% , transparent 48%), url(../img/taills.jpeg) no-repeat bottom right;
    background-size: contain;
}
.item-service.invitation .col-md-7 {
    padding-left: 0!important;
}
.item-service.advice {
    margin-top: 100px!important;
}
.service1 {
    background-image: url(../img/bg-service1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 0 60px;
    margin: 40px 0;
}
/* ****************************** */
/* ****** End Service Style ***** */
/* ****************************** */

/* ****************************** */
/* ****;** Testimony Style *;**** */
/* ****************************** */
.testimony .carousel-item img {
    height: 422px;
    border-radius: 15px;
    object-fit: cover;
    filter: brightness(0.6);
}
.testimony .carousel-control-next, 
.testimony .carousel-control-prev {
    width: fit-content;
    opacity: 1!important;
}
.testimony .carousel-control-prev {
    left: -25px;
}
.testimony .carousel-control-next {
    right: -25px;
}
.testimony span.carousel-control-next-icon, 
.testimony span.carousel-control-prev-icon {
    background-color: #61a4ac;
    border-radius: 50%;
    background-size: 75%;
    background-position: center;
    border: 3px #fff solid;
    width: 50px;
    height: 50px;
}
.img-croch-mark-copie, 
.img-croch-mark {
    width: 90px;
    height: 90px;
}
.img-croch-mark-copie img, 
.img-croch-mark img {
    object-fit: contain!important;
}
p.font-18.text-italic {
}

.carousel-caption p {
    max-width: calc(100% - 180px);
    margin: auto;
}
/* ****************************** */
/* ***** End Testimony Style **** */
/* ****************************** */

/* ****************************** */
/* * Invitation register Style ** */
/* ****************************** */
section.invitation-to-register {
    background-color: #72c5cd;
    padding-top: 300px;
    margin-top: -170px;
    padding-bottom: 130px;
}
/* ****************************** */
/* End Invitation register Style  */
/* ****************************** */

/* ****************************** */
/* ******* Tarif Style ********** */
/* ****************************** */
.tarif .about-row {
    padding: 70px 45px;
}
.etiquette {
    font-size: 12px;
    padding-left: 10px;
    display: inline-block;
}
.card-tarif {
    padding: 35px;
    box-shadow: 0 3px 12px #66666636;
        position: relative;
}
.title-tarif {
    position: absolute;
    top: -20px;
}
.profile-testimony {
    position: absolute;
    top: -55px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
/* ****************************** */
/* ****** End Tarif Style ******* */
/* ****************************** */