@media (max-width: 1199px) {
    header .nav-link {
        padding: 30px 15px !important;
    }
    .about-col {
        padding: 25px 35px;
    }
}
@media (max-width: 991px) {
    nav.navbar .container {
        flex-direction: row-reverse;
    }
    .card-presentation {
        width: 75%;
    }
    .hero h1 {
        font-size: 19px;
    }
    .about-col {
        margin-bottom: 120px;
        height: fit-content;
    }
    a.view-more {
        margin-bottom: 20px;
    }
    .carousel-caption p {
        max-width: 100%;
    }
    .about-col.diabete-type-2 {
        margin-bottom: 10px;
    }
    .icon-footer-about {
        margin-top: 15px;
    }
    .card-tarif {
        margin-bottom: 50px;
    }
    .about-row p.w-50 {
        width: 100% !important;
    }
    header li.nav-item:first-child {
        margin-left: 0;
    }
    /* .navbar-collapse .btn.btn-success.border-radius-50 {
        float: right;
        margin-top: -55px;
    } */
    .flex-button-login-register {
        padding-bottom: 15px;
    }
    header .nav-link {
        padding: 10px 15px !important;
    }
    .nav-item .btn.btn-outline-primary {
        margin: 10px 15px;
    }
    a.nav-link.active::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #12746b;
        bottom: 0;
        left: 0;
    }
    header {
        position: fixed;
        left: 0;
    }
    main {
        padding-top: 58px;
    }
}
@media (max-width: 767px) {
    .item-service.invitation {
        background: #12746b;
    }
    .item-service.invitation.diabete-type2 {
        background: white!important;
    }
    .testimony .icon-footer-about {
        display: none;
    }
    .item-service.invitation .col-md-7 {
        padding: 30px 20px !important;
    }
    .card-white {
        padding: 20px;
    }
}
@media (max-width: 575px) {
    .about-row {
            padding: 20px;
    }
}